# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dev env
.vscode/*

# dependencies
node_modules/


# production
/client/build/

/server/build/

/js_common/index.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#keys
dev.js

#TODO add .env to your gitignore


server/config/dev.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
